.explorer {
  background-color: #F8F8F8;
  padding-bottom: 40px;
  width: 100vw;
  position: relative;
  right: 8px;
}

.lieu {
  background-color: #EEEEEE;
  height: 40px;
  display: flex;
  justify-content: center;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.lieu p {
  position: relative;
  bottom: 5px;
}

.fa-map-marker-alt {
  padding-top: 12px;
  padding-right: 5px;
}

.search {
  padding-top: 10px;
}
.search h2 {
  width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: -1px;
}
.search p {
  width: 270px;
  text-align: center;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 5px;
}

.fonctionnement {
  margin-bottom: 40px;
}
.fonctionnement h2 {
  letter-spacing: -1px;
}

.caseF {
  background-color: #F8F8F8;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.15));
  border-radius: 15px;
  height: 75px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  margin-bottom: 25px;
  letter-spacing: -1px;
}

.etape {
  display: flex;
  margin-top: 30px;
}
.etape p {
  position: relative;
  bottom: 17px;
  margin-left: 20px;
}

.fa-ellipsis-v {
  position: relative;
  top: 1px;
  right: 2px;
}

.img1 {
  width: 14px;
}

.img2 {
  width: 18px;
}

.img3 {
  width: 20px;
}

.number {
  background-color: #9356DC;
  border-radius: 50%;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  position: relative;
  top: 25px;
  right: 10px;
}
.number p {
  color: white;
  position: relative;
  bottom: 13px;
  left: 8px;
}

.restaurants {
  background-color: #F8F8F8;
  padding-top: 10px;
  padding-bottom: 60px;
  width: 100vw;
  position: relative;
  right: 8px;
}
.restaurants h2 {
  letter-spacing: -1px;
  padding-left: 8px;
}

.caseR {
  height: 250px;
  width: 335px;
  margin-left: 20px;
  border-radius: 15px;
  background-color: white;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.15));
}
.caseR img {
  width: 335px;
  height: 175px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.caseR p {
  line-height: 2px;
  padding-top: 5px;
  padding-left: 15px;
}

.new {
  z-index: 100;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  position: relative;
  top: 20px;
  left: 270px;
  border-radius: 4px;
}
.new p {
  color: #3D9D86;
  text-align: center;
  padding-top: 7px;
  font-size: 14px;
}

#newfix {
  position: relative;
  top: 0px;
}

#n1 {
  position: relative;
  bottom: 20px;
}

#n2 {
  position: relative;
  bottom: 40px;
}

#name {
  letter-spacing: -1px;
}

#place {
  font-weight: 300;
}

.fa-heart {
  position: relative;
  left: 290px;
  bottom: 35px;
}

.heart2 {
  position: relative;
  bottom: 18px;
  opacity: 0;
}

@media screen and (min-width: 800px) {
  .flex {
    display: flex;
    position: relative;
    top: 30px;
    left: 35px;
  }

  #n2 {
    bottom: 20px;
  }

  #n3 {
    top: 60px;
    left: 118px;
  }

  #n4 {
    position: relative;
    bottom: 20px;
    left: 75px;
  }

  .new {
    left: 340px;
    top: -5px;
  }
  .new p {
    position: relative;
    bottom: 15px;
  }
}
@media screen and (min-width: 1025px) {
  .flex {
    left: 200px;
  }

  #n3 {
    left: 280px;
  }
}
.img_resto1 img {
  width: 100vw;
  height: 260px;
  position: relative;
  right: 8px;
  object-fit: cover;
}

.menu {
  background-color: #F8F8F8;
  padding-left: 20px;
  padding-bottom: 40px;
  border-top-right-radius: 30px;
  border-top-left-radius: 25px;
  width: 96vw;
  position: relative;
  right: 8px;
  bottom: 65px;
  z-index: 10;
}

.titre_resto h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  padding-top: 20px;
}

.test {
  height: 30px;
}

.line {
  background-color: #99E2D0;
  width: 45px;
  height: 3px;
  position: relative;
  bottom: 15px;
}

.case_menu {
  background-color: white;
  border-radius: 15px;
  padding-left: 12px;
  margin-right: 25px;
  height: 57px;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.15));
  animation: menus 1s ease-out forwards;
}
.case_menu p {
  line-height: 6px;
}

.CM1 {
  letter-spacing: -1px;
  padding-top: 15px;
}

.CM2 {
  display: flex;
  position: relative;
  bottom: 15px;
}

.CM3 {
  font-weight: 300;
}

.CM4 {
  position: absolute;
  right: 10px;
}

#position {
  position: relative;
  top: 30px;
}

@keyframes menus {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
/*ORDI*/
@media screen and (min-width: 800px) {
  .menu {
    width: 98vw;
  }
}
.navbar {
  display: flex;
  justify-content: center;
  height: 60px;
}

.navbar h1 {
  position: relative;
  bottom: 15px;
  font-family: "Shrikhand", cursive;
}

.fa-arrow-left {
  position: relative;
  right: 70px;
  top: 20px;
  color: black;
}

.footer {
  background-color: #3C3C3C;
  color: white;
  width: 100vw;
  position: relative;
  right: 8px;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.logo {
  font-family: "Shrikhand", cursive;
}

.iconF {
  display: flex;
}

.fa-utensils {
  margin-right: 10px;
  padding-top: 16px;
}

.fa-hands-helping {
  margin-right: 5px;
  padding-top: 16px;
}

#part1 {
  position: relative;
  bottom: 20px;
}

#part2 {
  position: relative;
  bottom: 35px;
  line-height: 12px;
}

.button {
  width: 220px;
  height: 50px;
  border-radius: 30px;
  background-image: linear-gradient(#FF79DA, #5C338C);
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}

.button p {
  text-align: center;
  color: white;
  padding-top: 15px;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/*# sourceMappingURL=style.css.map */
