.button {
  width: 220px;
  height: 50px;
  border-radius: 30px;
  background-image: linear-gradient(#FF79DA, #5C338C);
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}

.button p {
  text-align: center;
  color: white;
  padding-top: 15px;
}
