// Loader
@keyframes loader {

  0% {
    width: 0;
    opacity: 1;
  }

  20% {
    width: 10%;
  }

  25% {
    width: 24%;
  }

  43% {
    width: 41%;
  }

  56% {
    width: 50%;
    opacity: 0.9;
  }

  66% {
    width: 52%;
  }

  71% {
    width: 60%;
    background: #FF79DA;
  }

  94% {
    width: 86%;
    opacity: 0.5;
  }

  100% {
    width: 100%;
    background: #99E2D0;
    opacity: 0;
    z-index: -10;
  }

}

@keyframes fond {
  0% {
    z-index: 1000;
    background-color: white;
    opacity: 0.9;
  }
  90% {
    background-color: white;
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

//Menu
@keyframes menus {
  0% {
    transform: translate(0,30px);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}
