.footer {
  background-color: #3C3C3C;
  color: white;
  width: 100%;
  position: relative;
  right: 8px;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 15px;
  a {
    color: white;
  }
}

.logo {
  font-family: 'Shrikhand', cursive;
}

.icons_footer {
  display: flex;
}

.fa-utensils {
  margin-right: 10px;
  padding-top: 16px;
}

.fa-hands-helping {
  margin-right: 5px;
  padding-top: 16px;
}

#part1 {
  position: relative;
  bottom: 20px;
}

#part2 {
  position: relative;
  bottom: 35px;
  line-height: 12px;
}
