.explorer {
  background-color: #F8F8F8;
  padding-bottom: 40px;
  width: 100vw;
  position: relative;
  right: 8px;
}

.lieu {
  background-color: #EEEEEE;
  height: 40px;
  display: flex;
  justify-content: center;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.lieu p {
  position: relative;
  bottom: 5px;
}

.fa-map-marker-alt {
  padding-top: 12px;
  padding-right: 5px;
}

.search{
  padding-top: 10px;
}

.search h2 {
  width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: -1px;
}

.search p {
  width: 270px;
  text-align: center;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 5px;
}

.fonctionnement {
  margin-bottom: 40px;
}

.fonctionnement h2 {
  letter-spacing: -1px;
}

.caseF {
  background-color: #F8F8F8;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.15));
  border-radius: 15px;
  height: 75px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  margin-bottom: 25px;
  letter-spacing: -1px;
}

.etape {
  display: flex;
  margin-top: 30px;
}

.etape p {
  position: relative;
  bottom: 17px;
  margin-left: 20px;
}

.fa-ellipsis-v {
  position: relative;
  top: 1px;
  right: 2px;
}

.img1 {
  width: 14px;
}

.img2 {
  width: 18px;
}

.img3 {
  width: 20px;
}

.number {
  background-color: #9356DC;
  border-radius: 50%;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  position: relative;
  top: 25px;
  right: 10px;
}

.number p {
  color: white;
  position: relative;
  bottom: 13px;
  left: 8px;
}

.restaurants {
  background-color: #F8F8F8;
  padding-top: 10px;
  padding-bottom: 60px;
  width: 100vw;
  position: relative;
  right: 8px;
}

.restaurants h2 {
  letter-spacing: -1px;
  padding-left: 8px;
}

.caseR {
  height: 250px;
  width: 335px;
  margin-left: 20px;
  border-radius: 15px;
  background-color: white;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.15));
}

.caseR img {
  width: 335px;
  height: 175px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.caseR p {
  line-height: 2px;
  padding-top: 5px;
  padding-left: 15px;
}

.new {
  z-index: 100;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  position: relative;
  top: 20px;
  left: 270px;
  border-radius: 4px;
}

.new p {
  color: #3D9D86;
  text-align: center;
  padding-top: 7px;
  font-size: 14px;
}

#newfix {
  position: relative;
  top: 0px;
}

#n1 {
  position: relative;
  bottom: 20px;
}

#n2 {
  position: relative;
  bottom: 40px;
}

#name {
  letter-spacing: -1px;
}

#place {
  font-weight: 300;
}

.fa-heart {
  position: relative;
  left: 290px;
  bottom: 35px;
}

@media screen and (min-width: 800px) {
  .flex {
    display: flex;
    position: relative;
    top: 30px;
    left: 35px;
  }
  #n2 {
    bottom: 20px;
  }
  #n3 {
    top: 60px;
    left: 118px;
  }
  #n4 {
    position: relative;
    bottom: 20px;
    left: 75px;
  }
  .new {
    left: 340px;
    top: -5px;
  }
  .new p {
    position: relative;
    bottom: 15px;
  }
}

@media screen and (min-width: 1025px) {
  .flex {
    left: 200px;
  }
  #n3 {
    left: 280px;
  }
}
