.explorer {
  background-color: #F8F8F8;
  padding-bottom: 40px;
  width: 100vw;
  position: relative;
  right: 8px;
}

.lieu {
  background-color: #EEEEEE;
  height: 40px;
  display: flex;
  justify-content: center;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  p {
    position: relative;
    bottom: 5px;
  }
}

.fa-map-marker-alt {
  padding-top: 12px;
  padding-right: 5px;
}

.search{
  padding-top: 10px;
  h2 {
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: -1px;
  }
  p {
    width: 270px;
    text-align: center;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 5px;
  }
}

.fonctionnement {
  margin-bottom: 40px;
  h2 {
    letter-spacing: -1px;
  }
}

.caseF {
  background-color: #F8F8F8;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.15));
  border-radius: 15px;
  height: 75px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  margin-bottom: 25px;
}

.etape {
  display: flex;
  margin-top: 30px;
  p {
    position: relative;
    bottom: 17px;
    margin-left: 20px;
  }
}

.fa-ellipsis-v {
  position: relative;
  top: 1px;
  right: 2px;
}

.img1 {
  width: 14px;
}

.img2 {
  width: 18px;
}

.img3 {
  width: 20px;
}

.number {
  background-color: #9356DC;
  border-radius: 50%;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  position: relative;
  top: 25px;
  right: 10px;
  p {
    color: white;
    position: relative;
    bottom: 13px;
    left: 8px;
  }
}

.restaurants {
  background-color: #F8F8F8;
  padding-top: 10px;
  padding-bottom: 60px;
  width: 100vw;
  position: relative;
  right: 8px;
  h2 {
    letter-spacing: -1px;
    padding-left: 8px;
  }
}

.caseR {
  height: 250px;
  width: 335px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: white;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.15));
  img {
    width: 335px;
    height: 175px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
  }
  p {
    line-height: 2px;
    padding-top: 5px;
    padding-left: 15px;
  }
}

.new {
  z-index: 100;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  position: relative;
  bottom: 180px;
  left: 240px;
  border-radius: 4px;
  p {
    color: #3D9D86;
    padding-left: 12px;
    padding-top: 13px;
    font-size: 14px;
  }
}

#new_cache {
  opacity: 0;
}

#name {
  position: relative;
  bottom: 50px;
}

#place {
  font-weight: 300;
  position: relative;
  bottom: 50px;
}

.heart1_index {
  position: relative;
  bottom: 75px;
  text-align: end;
  margin-right: 25px;
}

.heart2_index {
  position: relative;
  bottom: 93px;
  text-align: end;
  margin-right: 25px;
  .fa-heart {
    opacity: 0;
  }
  .fa-heart:hover {
    color: #9356DC;
    opacity: 1;
    transition-duration: 400ms;
  }
}

@media screen and (min-width: 1024px) and (min-height: 768px) {
  .flex {
    display: flex;
  }
}

@keyframes loader {

  0% {
    width: 0;
    opacity: 1;
  }

  20% {
    width: 10%;
  }

  25% {
    width: 24%;
  }

  43% {
    width: 41%;
  }

  56% {
    width: 50%;
    opacity: 0.9;
  }

  66% {
    width: 52%;
  }

  71% {
    width: 60%;
    background: #FF79DA;
  }

  94% {
    width: 86%;
    opacity: 0.5;
  }

  100% {
    width: 100%;
    background: #99E2D0;
    opacity: 0;
    z-index: -10;
  }

}

@keyframes test {
  0% {
    z-index: 1000;
    background-color: white;
    opacity: 0.9;
  }
  90% {
    background-color: white;
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

.progress-bar {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  animation: test 3s;
}

.progress {
  animation: loader 3s;
  background: #9356DC;
  padding: 5px;
  border-radius: 60px;
  display: block;
  opacity: 0;
  max-width: 50%;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
}
