p, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  height: 60px;
}

.navbar h1 {
  position: relative;
  bottom: 15px;
  font-family: 'Shrikhand', cursive;
}

.img_resto1 img {
  width: 100vw;
  position: relative;
  right: 8px;
}

.menu {
  background-color: #F8F8F8;
  padding-left: 20px;
  border-top-right-radius: 30px;
  border-top-left-radius: 25px;
  width: 96vw;
  position: relative;
  right: 8px;
  bottom: 65px;
}

.titre_resto {

}

.titre_resto h2 {
  font-family: 'Shrikhand', cursive;
  font-weight: 300;
  padding-top: 20px;
}

.test {
  // background-color: red;
  height: 30px;
}

.line {
  background-color: #99E2D0;
  width: 45px;
  height: 3px;
  position: relative;
  bottom: 15px;
}

.case_menu {
  background-color: white;
  border-radius: 15px;
  padding-left: 12px;
  margin-right: 25px;
  height: 57px;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.15));
}

.case_menu p {
  line-height: 6px;
}

.CM1 {
  letter-spacing: -1px;
  padding-top: 15px;
}

.CM2 {
  display: flex;
  position: relative;
  bottom: 15px;
}

.CM3 {
  font-weight: 300;
}

.CM4 {
  position: absolute;
  right: 10px;
}

.button {
  width: 220px;
  height: 50px;
  border-radius: 30px;
  background: linear-gradient(175deg, #FF79DA 5%, rgba(255, 255, 255, 0) 130%), #5C338C;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}

.button p {
  text-align: center;
  color: white;
  padding-top: 15px;
}

.footer {
  background-color: #3C3C3C;
  color: white;
  width: 100vw;
  position: relative;
  right: 8px;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.logo {
  font-family: 'Shrikhand', cursive;
}

.iconF {
  display: flex;
}

.iconF img {
  width: 18px;
  margin-right: 5px;
}

#part1 {
  position: relative;
  bottom: 20px;
}

#part2 {
  position: relative;
  bottom: 35px;
  line-height: 12px;
}


