body {
  background-color: #F8F8F8;
}

.img_resto1 img {
  width: 100vw;
  height: 260px;
  position: relative;
  right: 8px;
  object-fit: cover;
}

.menu {
  background-color: #F8F8F8;
  padding-left: 20px;
  padding-bottom: 40px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 96vw;
  position: relative;
  right: 8px;
  bottom: 65px;
  z-index: 10;
}

.titre_resto {
  height: 60px;
  h2 {
    font-family: 'Shrikhand', cursive;
    font-weight: 300;
    padding-top: 20px;
  }
}

.heart1_menu {
  position: relative;
  bottom: 45px;
  text-align: end;
  margin-right: 30px;
}

.heart2_menu {
  position: relative;
  bottom: 62px;
  text-align: end;
  margin-right: 30px;
  .fa-heart {
    opacity: 0;
    color: #9356DC;
  }
  .fa-heart:hover {
    opacity: 1;
    animation: heart 400ms ease-out forwards;
  }
}

.line {
  background-color: #99E2D0;
  width: 45px;
  height: 3px;
  position: relative;
  bottom: 15px;
}

.case_menu {
  background-color: white;
  border-radius: 15px;
  padding-left: 12px;
  margin-right: 25px;
  display: flex;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.15));
  overflow: hidden;
  margin-bottom: 15px;

  &__part1 {
    width: 90%;
    line-height: 0.3em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    p {
      font-weight: 300;
    }
  }

  &__part2 {
    margin-left: 10px;
    position: relative;
    left: 40px;
    top: 15px;
    transition-duration: 500ms;
  }

  &__part3 {
    background-color: #99E2D0;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position: relative;
    left: 65px;
    transition-duration: 500ms;
    .fa-check-circle {
      color: white;
      transform: rotate(720deg);
      transition-duration: 500ms;
    }
  }

  &:hover {
    .fa-check-circle {
      transform: rotate(0)
    }

  }
  &:hover &__part3 {
    transform: translateX(-65px);
  }

  &:hover &__part2 {
    transform: translateX(-50px);
  }
}

#position {
  position: relative;
  top: 30px;
}

@keyframes menus {
  0% {
    opacity: 0;
    transform: translate(0,20px);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

/*ORDI*/
@media screen and (min-width: 800px) {
  .menu {
  width: 99vw;
  }
}

@media screen and (max-width: 800px) {
  .CM3 {
    max-width: 275px;
  }
}

